<%= form_tag('/', method: :get, id: 'header') do %>
  <center>
    <label for="from">
      Vessel
    </label>
    <%= select_tag :from, options_for_select(@all_from, selected: @from), { id: :from, onchange: 'submit_form(event)' } %>
    &nbsp;
    <%= link_to 'Go to Iridium Messaging', 'https://messaging.iridium.com/index.php', target: '_blank' %>
  </center>
<% end %>

<div id="map"></div>
<script>
  function initMap() {
    var waypoints = [
      <% @waypoints.each do |p| %>
        {lat: <%= h p.lat %>, lng: <%= h p.lng %>, label: '<%= h p.seen_at.to_date %>'},
      <% end %>
    ];

    var map = new google.maps.Map(document.getElementById('map'), {
      mapTypeId: 'terrain',
      zoom: 6,
      center: {
        lat: <%= h @waypoints.last&.lat || 0 %>,
        lng: <%= h @waypoints.last&.lng || 0 %>
      }
    });

    new google.maps.Polyline({
      path: waypoints,
      geodesic: true,
      strokeColor: '#FF0000',
      strokeOpacity: 1.0,
      strokeWeight: 2,
      map: map
    });

    for (var i = 0; i < waypoints.length; ++i) {
      new google.maps.Marker({
        icon: 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mP8/5+hHgAHggJ/PchI7wAAAABJRU5ErkJggg==',
        label: waypoints[i].label,
        position: waypoints[i],
        map: map
      });
    }

    new google.maps.Marker({
      position: {
        lat: <%= h @waypoints.last&.lat || 0 %>,
        lng: <%= h @waypoints.last&.lng || 0 %>
      },
      map: map
    });
  }
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_API_KEY'] %>&callback=initMap">
</script>
